<div id="movie">
</div>

<div class="text-center">
  <%= image_tag 'title-logo.png', class: "img-responsive img-responsive-overwrite" %>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">猫の位置がわかります<span class="text-muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <%= image_tag 'cat.png', class: "featurette-image img-responsive center-block img-circle" %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-xs-2 col-xs-offset-5">
    <%= link_to "はじめる", "/map/index", role: "button" ,class: "btn btn-lg btn-primary center-block" %>
  </div>
</div>
