

<div class="well">
  <div class="text-center">
    <%= image_tag 'title-logo.png', class: "img-responsive img-responsive-overwrite" %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">ねことらとは<br /></h2>
    <h3><span class="text-muted">猫の現在地がわかります</span></h3>
    <p class="lead">猫の集会をみてみたい…．飼猫がよく脱走する…．「ねことら」はそんな猫好きのためにIoTデバイスです．</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <%= image_tag 'cat.png', class: "featurette-image img-responsive center-block img-circle" %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-xs-2 col-xs-offset-5">
    <%= link_to "はじめる", "/map/index", role: "button" ,class: "btn btn-lg btn-primary center-block" %>
  </div>
</div>
